{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load jalali_tags %}

<body dir='rtl'>
{% block content %}

    <!-- Main Wrapper Start -->
    <div class="wrapper">
        <!-- Breadcrumb area Start -->
        <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h1 class="page-title">جزئیات کتاب «{{ book.name }}»</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb area End -->

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row no-gutters mb--80">
                        <div class="col-12 col-sm-4 product-main-image d-flex align-content-center">
                            <img class="m-auto" style="max-height: 400px;" src="{{ book.covers.url }}" alt="">
                        </div>
                        <div class="col-12 col-sm-8 product-main-details mt-md--50">
                            <div class="product-summary pl-lg--30 pl-md--0 text-right p-4">
                                <h3 class="product-title mb--20">{{ book.name }}</h3>
                                <p class="product-short-description mb--20">
                                    {{ book.description | truncatewords:20 }}
                                </p>
                                    <span class="money text-success">قیمت : {{ book.price }} تومان</span>
                                    <br>
                                    <span class="comment-author">نویسنده : {{ book.author }} </span>
                                    <hr>
                                  <div class="product-action  align-items-sm-center align-content-center mb--30">
                               <div class="quantity-wrapper d-flex justify-content-start">
                                    <form action="{% url 'cart:add_to_cart' book.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="quantity">
                                            <label for="qty"></label><input type="number" class="quantity-input"
                                                                            name="quantity" id="qty" value="1"
                                                                            min="1">
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">اضافه کردن به سبد خرید</button>
                                    </form>
                                </div>


{#                                    <div class="product-footer-meta mt-5 pt-5">#}
{#                                        <p><span class="m-0">دسته بندی ها:</span>#}
{#                                            <a href="shop.html">لباس</a>,#}
{#                                            <a href="shop.html">تابستانی</a>,#}
{#                                            <a href="shop.html">گرم</a>,#}
{#                                            <a href="shop.html">زنانه</a>#}
{#                                        </p>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="product-data-tab tab-style-3">
                                    <div class="nav nav-tabs product-data-tab__head" id="product-tab" role="tablist">
                                        <a class="m-0 product-data-tab__link nav-link active" id="nav-description-tab"
                                           data-toggle="tab" href="#nav-description" role="tab" aria-selected="true">
                                            <span>توضیحات کتاب</span>
                                        </a>
                                        <a class="m-0 product-data-tab__link nav-link" id="nav-info-tab"
                                           data-toggle="tab"
                                           href="#nav-info" role="tab" aria-selected="true">
                                            <span>ویژگی ها</span>
                                        </a>
                                        <a class="m-0 product-data-tab__link nav-link" id="nav-reviews-tab"
                                           data-toggle="tab" href="#nav-reviews" role="tab" aria-selected="true">
                                            <span>نظرات (۱)</span>
                                        </a>
                                    </div>
                                    <div class="tab-content product-data-tab__content" id="product-tabContent">
                                        <div class="tab-pane fade show active" id="nav-description" role="tabpanel"
                                             aria-labelledby="nav-description-tab">
                                            <div class="product-description text-justify">
                                                {{ book.description }}
                                            </div>
                                        </div>
                                        <div class="tab-pane text-right" id="nav-info" role="tabpanel"
                                             aria-labelledby="nav-info-tab">
                                            <div class="table-content table-responsive">
                                                <table class="table shop_attributes">
                                                    <tbody>
                                                    <tr>
                                                        <th>تعداد صفحات</th>
                                                        <td>{{ book.page_numbers }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>تاریخ چاپ</th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th>جنس صفحات کتاب</th>
                                                        <td>
                                                          {{ book.pages_quality }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-reviews" role="tabpanel"
                                             aria-labelledby="nav-reviews-tab">
                                            <div class="product-reviews">
                                                    <h3 class="review__title">{{ book.comments.count }} نظر برای {{ book.name }}</h3>
                                                    <ul class="review__list">
                                                         {% for comment in book.comments.all %}
                                                        <li class="review__item">
                                                            <div class="review__container">
                                                                <div class="review__text">
                                                                    {#                                                            <div class="d-flex flex-sm-row flex-row">#}
                                                                    {#                                                                <img src="assets/img/others/comment-1.jpg" alt="Review Avatar" class="review__avatar">#}
                                                                    {#                                                                <div>#}
                                                                    <div class="review__meta">
                                                                        <strong dir="rtl" class="review__author px-4">
                                                                            کاربر : {{ comment.user }}</strong>
                                                                        <span class="review__published-date">تاریخ : {{ comment.date_created}}</span>
                                                                    </div>
                                                                    {#                                                                    <div class="product-rating">#}
                                                                    {#                                                                        <div class="m-0 star-rating star-five">#}
                                                                    {#                                                                            <span>Rated <strong class="rating">5.00</strong> out of 5</span>#}
                                                                    {#                                                                        </div>#}
                                                                    {#                                                                    </div>#}
                                                                </div>
                                                            </div>
                                                            <p class="review__description text-right px-4">
                                                                {{ comment.text }}
                                                            </p>

                                                        </li>
                                                        </ul>
                                                    {% endfor %}
                                                <div class="review-form-wrapper">
                                                    <div class="row">
                                                        <div class="border-top py-5 w-100"></div>
                                                        <div class="col-lg-8 m-auto">
                                                            <span class="reply-title pull-right">لطفا نظر خود را بنویسید
                                                               </span>
                                                            <br>
                                                            <form method="POST"
                                                                  action="{% url 'create_comment' book.id %}"
                                                                  class="form text-right">
                                                                {% csrf_token %}
                                                                <div class="form-notes mb--20">
                                                                    <p class="my-3"><span class="required">*</span>ایمیل
                                                                        شما
                                                                        برای دیگران نشان داده نمیشود.</p>
                                                                </div>
                                                                <div class="form__group mb--10">
                                                                    متن نظر
                                                                    شما<span class="required">*</span>
                                                                    <label for="text"></label><textarea name="text"
                                                                                                        id="text"
                                                                                                        class="form__input form__input--textarea"></textarea>
                                                                </div>
                                                                <div class="form__group mb--20">
                                                                    <label class="form__label d-block" for="email">ایمیل
                                                                        شما<span
                                                                                class="required">*</span></label>
                                                                    <input type="email" name="email" id="email"
                                                                           class="form__input">
                                                                </div>
                                                                <div class="form__group">
                                                                    <div class="form-row">
                                                                        <div class="col-12">
                                                                            <input type="submit" value="ارسال"
                                                                                   class="btn-submit">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Content Wrapper End -->

            <!-- Global Overlay Start -->
            <div class="ShoppingYar-global-overlay"></div>
            <!-- Global Overlay End -->
        </div>
        <!-- Main Wrapper End -->
    </div>
{% endblock %}
</body>
